/CMakeLists.txt.user
/info.txt
/suppres_python~
/test_python/
/.~lock.timing.csv#
/Uttility/
*.pvd
/doc/Doxyfile.bak
/particule.png
/src/old/GPATH
/src/old/GRTAGS
/src/old/GSYMS
/src/old/GTAGS
/timing.csv
build*/
Testing/
/MAC.*
doc/latex/
doc/html/
/qtdoc/latex/
/qtdoc/html/
/qtdoc/doc.qch
*.*~
temp/
sim/
anim/
*.*.swp
*.vim
tags
*.avi
out.txt
solheat/
